/* * {
  font-family: 'Open Sans', sans-serif !important;
} */

body {
  font-family: 'Open Sans', sans-serif !important;
}

p {
  font-size:large;
  font-weight: 500;
  margin: 0 !important;
}

h1,h2,h3,h4,h5 {
  font-family: 'Open Sans', sans-serif !important;

}

.ui.button{
  font-family: 'Open Sans', sans-serif !important;
}

div.header{
  font-family: 'Open Sans', sans-serif !important;
}

.ui.button:hover{
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0px 2px 15px rgba(0, 238, 255, 0.692) !important;
}
/* 
.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0rem 6rem;
} */

.hero-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0rem 6rem;
  margin-bottom: 45px;
  margin-top: 20px;
}

.left{ 
  margin-top: 45px;
  padding-left: 60px;
}

/* s{
  text-decoration: none;
    position: relative;
}

s::before{
    content: '';
    width: 100%;
    position: absolute;
    right: 0;
    top: calc( 60% - 1.5px );
    border-bottom: 3px solid #262626;
} */

.big-title h3, h1{
  color: #262626;
  font-weight: 800;
}

.big-title h1{
  font-weight: 800;
  font-size: 3.2rem;
}

.big-title h1,p{
    margin: 0px;
    padding: 0px;
}

ul {
  list-style-type: none;
  margin-top: 5.5rem;  
  margin-bottom: 23px;
  padding-inline-start: 8px
}
ul li:before {
  content: '-';
  position: absolute;
  margin-left: -8px;
}

.bold-text{
  color: black;
  font-weight: 800 !important;
}

/* .right img{
  position: relative;
  width: 450px;
  height: 420px;
  left: 100px;
  top: 62px;
} */

/* .right img{
  display: flex;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  width: 450px;
} */

.right {
  display:flex;
  justify-content: center;
  align-items: center;
  
}

.right img {
  margin-top: 42px;
  width: 444px;
  height: 416px;
}

.ui.button, .ui.button:hover{
  background-color: #00A0E3 !important;
  color:white !important;
}


.ui.button.hero-button {
  
  border-radius: 9px; 
  color: white; 
  font-size: 0.8;
  font-weight: 800;
  line-height: 1;
  width: 14rem;
  height: 4rem;
}

.description-container{
    margin: 0 auto;
    display: inline-block;
    min-width: 100vw;

    overflow: auto;
    text-align: center;
    padding: 68px 0px 30px 0px;
}

.description-container h1{
  font-weight:800;
  font-size: 2.7rem;
}

.description-container p{
  font-size: 1.5rem;
  color: #97A2A9;
}

.card-group{
  /* display set to flex by default to the Card.Group */
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding: 0 84px;
  transform: translateY(-55px);
}

div.image{
  border-bottom: 0 none !important;
}

.ui.card>.image, .ui.cards>.card>.image {
  background: none !important;
}

.ui.card, .ui.cards>.card {
  border-radius: 1.4rem;
  border: 2px solid lightgray !important;
}

.ui.card>.image>img, .ui.cards>.card>.image>img {
  width: 90px !important;
}

.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui){
  font-weight: 800px !important;
}

.ui.card>.content, .ui.cards>.card>.content{
  border-top: 0px none !important;
}

div.ui.card.card-item {
  width: 95%; 
  margin-right: 20px;
  padding: 4px;
}

div.description{  /* semantic ui class for card description */
  font-size: 1.3rem;
  color: #97A2A9 !important;
}

 .description-content{
   margin: 0 auto;
   max-width: 60%;
 }

 .ui.card>.extra, .ui.cards>.card>.extra{
   border-top: 0 none !important;

 }


.card-button-group .ui.button:last-child{
  margin-top: 10px;
}

.col-container{
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 50px 135px;
  padding-bottom: 40px;

}

.col-item{
  padding: 0px 10px;
  word-wrap: wrap;
}

div.col-item p{
  color: #808080;
}



div.ui.card.review-card{
  border: 0px none !important;
  box-shadow: none;
  width: 100vh;
}

.ui.card.review-card>.content>.description,.ui.cards>.card>.content>.description {
  color: rgba(25,31,35,1) !important;
  line-height: 1.4em;
}

.ui.card.review-card>.extra.content {
  color: black !important;
}

/* div.ui.card.review-card{
  margin-left: 200px; 
  background-color: red;
} */

.review-container>.review-card>.customer-details{
  display: flex;
}
/* .ui.card.review-card>.extra{
  border-top: 0px none 
} */

.ui.card img.avatar {
  width: 3em !important;
  height: 3em !important;
}

span.designation {
  color: #A5AEB4;
  
}

.feedback-wrapper{
  display: grid;
  grid-template-columns: auto auto;
  margin: 0px 135px;
  margin-bottom: 70px;
}

ui.cards  {
  margin: 0px !important;
  
}

.ui.cards.stats-cards>.card>.content>.header:not(.ui){
  color: #22A2F8;
  font-size: 2rem;
  font-weight:600;
}

.ui.cards.stats-cards>.card>.content>.header+.description{
  font-size: 1rem;
}

.ui.cards.stats-cards>.card{
  margin: 0 auto;
  border: 0px none !important;
  box-shadow: none;
  width: 200px;
}

/*Top Slider */

.slick-slide {
  padding-right: 15px !important;
}

.blk-prd {
  background: #F2F7FF;
  padding: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.blk-prd.featurebox {
  justify-content: center;
  align-items: center;
}
.blk-prd a {
  text-decoration: none;
  display: inline-block;
  margin: 0 0 0 16px;
  height: auto
}
.blk-prd a.mobileVideothum.sjb,
.blk-prd a.mobileVideothum.onecr {
  display: none
}

.blk-prd a:first-child {
  margin: 0
}

.blk-prd .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none
}
.blk-prd .container.featurebanner {
  padding-bottom: 32px
}
.blk-prd .container::-webkit-scrollbar {
  width: 0;
  height: 0
}
.blk-prd .container .blank {
  display: none
}

.blk-prd .container .prd-bg:first-child {
  margin-left: 0
}
.blk-prd .container .prd-bg.health-insurance {
  background: #7080FA url(./images/health-insurance-bg.png) right -1px top no-repeat;
  background-size: 196px
}

.blk-prd .container .prd-bg {
  border-radius: 18px;
  min-width: 368px;
  height: 200px;
  overflow: hidden;
  cursor: pointer
}

.blk-prd .container .prd-bg.investment-plans {
  background: #4FDC95 url(./images/investment-plans-bg.png) right -1px top no-repeat;
  background-size: 356px
}

.blk-prd .container .prd-bg.child-plans {
  background: #4FDC95 url(./images/investment-plans-bg.png) right -1px top no-repeat;
  background-size: 356px
}

.blk-prd .container .prd-bg.home-insurance {
  background: #3CBBDA url(./images/health-insurance-bg.png) right -1px top no-repeat;
  background-size: 196px
}

.blk-prd .container .prd-bg.pbaskci {
  background: #FF9898 url(./images/health-insurance-bg.png) right -1px top no-repeat;
  background-size: 196px
}

.blk-prd .container .prd-bg .block-data .left-container {
  margin: 16px 0 0 16px;
  position: relative
}
.blk-prd .container .prd-bg .block-data .left-container span.float-icon {
  width: 110px;
  height: 70px;
  position: absolute;
  top: 0;
  right: -10px;
  background: url(./images/float-icons.png) no-repeat;
  background-size: 90%;
  -webkit-transition: ease all 1s;
  transition: ease all 1s
}
.blk-prd .container .prd-bg .block-data .left-container span.float-icon.fadeIn {
  opacity: 1;
  right: 0
}
.blk-prd .container .prd-bg .block-data .left-container span.float-icon.health-insurance {
  background-position: 0 -374px
}
.blk-prd .container .prd-bg .block-data .left-container span.float-icon.investment-plan {
  background-position: 0 -85px
}
.blk-prd .container .prd-bg .block-data .left-container span.float-icon.home-insurance {
  background-position: 0 -170px
}
.blk-prd .container .prd-bg .block-data .left-container span.float-icon.askpb-insurance {
  background-position: 0 -235px
}
.blk-prd .container .prd-bg .block-data .left-container span.float-icon.child-insurance {
  background-position: 0 -310px
}
.blk-prd .container .prd-bg .block-data .left-container span.icon {
  background-size: 100%;
  width: 24px;
  height: 24px;
  display: inline-block;
  background-position: 0 14.7%;
  margin-bottom: 5px
}
.blk-prd .container .prd-bg .block-data .left-container span.icon.investment-plans {
  background-position: 0 16.4%
}
.blk-prd .container .prd-bg .block-data .left-container span.icon.home-insurance {
  background-position: 0 18.1%
}
/* .blk-prd .container .prd-bg .block-data .left-container span.icon.pbaskci {
  background-position: 0 0;
  background: url(./images/askpb_fevicon.svg) no-repeat;
  background-size: 100%
} */
.blk-prd .container .prd-bg .block-data .left-container p.head {
  font-size: 10px;
  color: #fff
}
.blk-prd .container .prd-bg .block-data .copy {
  font-size: 22px;
  color: #fff;
  line-height: 33px;
  padding-top: 16px;
  font-weight: 400
}
.blk-prd .container .prd-bg .block-data .copy span {
  font-weight: 700
}
.blk-prd .container .prd-bg .block-data .copy span.large-text {
  font-size: 28px;
  line-height: 40px
}

.blk-prd .container .prd-bg .block-data .copyWrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%
}
.blk-prd .container .prd-bg .block-data .copyWrp .text {
  width: 50%;
  margin-right: 5%
}

.blk-prd .container .prd-bg .block-data .copyWrp .text.lp {
  padding: 0 0 0 15px
}
.blk-prd .container .prd-bg .block-data .copyWrp .text .copy {
  font-size: 12px;
  line-height: 18px
}
.blk-prd .container .prd-bg .block-data .copyWrp .text .copy span {
  font-size: 15px;
  margin-top: 5px;
  display: block;
  line-height: 20px
}
.blk-prd .container .prd-bg .block-data .copyWrp .vdposter {
  width: 45%;
  padding-right: 10px
}

.blk-prd .container .prd-bg .block-data .copyWrp .vdposter .ps {
  width: 120px;
  height: 115px;
  text-indent: -5000px;
  float: right;
  background: #ccc;
  position: relative;
  top: -15px
 }
/*.blk-prd .container .prd-bg .block-data .copyWrp .vdposter .ps.sjb {
  background: url(./images/home/m-sjb-thumb.png) no-repeat 0 0;
  background-size: 100%
} */
/* .blk-prd .container .prd-bg .block-data .copyWrp .vdposter .ps.onecr {
  background: url(./images/home/m-onecr-thumb.png) no-repeat 0 0;
  background-size: 100%
} */
.blk-prd .container .prd-bg .block-data .copyWrp .vdposter .ps:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  right: 0;
  left: 0;
  /* background: url(./images/white-play-icon.svg) no-repeat; */
  top: 50%;
  background-size: 100%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%)
}

.renew-prd-blk {
  position: fixed;
  display: none;
  top: 110%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 1000px;
  height: auto;
  min-height: 150px;
  z-index: 999999;
  background: #fff;
  border-radius: 8px
}

.renew-prd-blk.show1 {
  bottom: 0;
  top: auto;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in
}
.renew-prd-blk p.heading {
  padding: 27px 0 0 32px;
  font-size: 24px;
  color: #253858;
  font-weight: 500;
  display: inline-block
}

.renew-prd-blk .close {
  background: #dfe1e6;
  width: 36px;
  height: 36px;
  position: relative;
  float: right;
  border-radius: 50%;
  margin: 20px 32px 0 0;
  cursor: pointer
}

.renew-prd-blk .close:after {
  content: '';
  height: 20px;
  border-left: 2px solid #253858;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 17px;
  top: 8px
}

.renew-prd-blk .close:before {
  content: '';
  height: 20px;
  border-left: 2px solid #253858;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 17px;
  top: 8px
}

.renew-prd-blk .close-small {
  display: none;
  background: #dfe1e6;
  width: 36px;
  height: 36px;
  position: relative;
  float: right;
  border-radius: 50%;
  margin: 20px 32px 0 0;
  cursor: pointer
}

.renew-prd-blk .close-small:after {
  display: none;
  content: '';
  height: 20px;
  border-left: 2px solid #253858;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 18px;
  top: 9px
}

.renew-prd-blk .close-small:before {
  display: none;
  content: '';
  height: 20px;
  border-left: 2px solid #253858;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 18px;
  top: 9px
}

.renew-prd-blk .close-small-renew {
  display: none;
  background: #dfe1e6;
  width: 36px;
  height: 36px;
  position: relative;
  float: right;
  border-radius: 50%;
  margin: 20px 32px 0 0;
  cursor: pointer
}

.renew-prd-blk .close-small-renew:after {
  display: none;
  content: '';
  height: 20px;
  border-left: 2px solid #253858;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 18px;
  top: 9px
}

.renew-prd-blk .close-small-renew:before {
  display: none;
  content: '';
  height: 20px;
  border-left: 2px solid #253858;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 18px;
  top: 9px
}

.renew-prd-blk ul {
  margin: 8px 0 0;
  padding: 0
}
.renew-prd-blk ul li {
  margin: 0;
  padding: 0
}
.renew-prd-blk ul li a {
  display: block;
  text-decoration: none;
  padding: 24px 0;
  margin: 0 24px;
  border-bottom: 1px solid #f1f1f1;
  color: #172B4D;
  font-size: 14px;
  font-weight: 500
}
.renew-prd-blk ul li a i {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
  background-size: 100%
}
.renew-prd-blk ul li a i.life-insurance {
  background-position: 0 19.7%
}
.renew-prd-blk ul li a i.health-insurance {
  background-position: 0 21.3%
}
.renew-prd-blk ul li a i.motor-insurance {
  background-position: 0 23%
}
.renew-prd-blk ul li a i.two-wheeler-insurance {
  background-position: 0 24.8%
}
.renew-prd-blk ul li:last-child a {
  border-bottom: 0
}
.more-prd-blk {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 1000px;
  height: auto;
  min-height: 620px;
  z-index: 999999;
  background: #fff;
  border-radius: 8px
}

.more-prd-blk p.heading {
  padding: 27px 0 0 32px;
  font-size: 24px;
  color: #253858;
  font-weight: 500;
  display: inline-block
}

.more-prd-blk .close {
  background: #dfe1e6;
  width: 36px;
  height: 36px;
  position: relative;
  float: right;
  border-radius: 50%;
  margin: 20px 32px 0 0;
  cursor: pointer
}

.more-prd-blk .close:after {
  content: '';
  height: 20px;
  border-left: 2px solid #253858;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 17px;
  top: 8px
}

.more-prd-blk .close:before {
  content: '';
  height: 20px;
  border-left: 2px solid #253858;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 17px;
  top: 8px
}

.more-prd-blk .close-small {
  display: none;
  background: #dfe1e6;
  width: 36px;
  height: 36px;
  position: relative;
  float: right;
  border-radius: 50%;
  margin: 20px 32px 0 0;
  cursor: pointer
}

.more-prd-blk .close-small:after {
  display: none;
  content: '';
  height: 20px;
  border-left: 2px solid #253858;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 18px;
  top: 9px
}

.more-prd-blk .close-small:before {
  display: none;
  content: '';
  height: 20px;
  border-left: 2px solid #253858;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 18px;
  top: 9px
}





/* Best Place */
.best-place {
  background: url(./images/left-bg.png) left top no-repeat, url(./images/right-bg.png) right top no-repeat;
  min-height: 510px
}

.best-place .container {
  margin: 0 auto
}

.container {
  max-width: 1140px;
  padding: 0;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in
}

.best-place .container .left-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  padding-bottom: 26px;
  scrollbar-width: none;
  -ms-overflow-style: none
}
.best-place .container .left-block::-webkit-scrollbar {
  width: 0;
  height: 0
}
.best-place .container .left-block .txt-block {
  font-size: 36px;
  width: 40%;
  color: #253858;
  line-height: 54px;
  font-weight: 300;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-top: 110px;
  margin-left: 50px;
  opacity: .5;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in
}
.best-place .container .left-block .txt-block .hide-big {
  display: none
}

.best-place .container .left-block .txt-block span {
  font-weight: 700;
}
.best-place .container .left-block .txt-block.opacity-1 {
  opacity: 1;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  margin-left: 0
}

.best-place .container .right-block {
  width: 60%;
  text-align: right;
  margin-top: 80px;
  padding-right: 10px;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in
}

.best-place .container .right-block.top-0 {
  margin-top: 0;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  opacity: 1
}
.best-place .container .right-block .info-box {
  width: 200px;
  vertical-align: top;
  background: #fff;
  margin: 40px 48px 0 0;
  height: 180px;
  text-align: left;
  display: inline-block;
  border-radius: 8px;
  -webkit-box-shadow: 0 6px 16px rgba(52, 105, 203, .16);
  box-shadow: 0 6px 16px rgba(52, 105, 203, .16);
  position: relative;
  left: 0;
  overflow: hidden
}
.best-place .container .right-block .info-box.fadeIn {
  opacity: 1;
  left: 0;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in
}

.best-place .container .right-block .info-box span.top-icon {
  width: 24px;
  height: 24px;
  margin: 16px;
  display: inline-block;
  background: url(./images/best-place-icons.png) no-repeat;
  background-size: 100%
}
.best-place .container .right-block .info-box p.head {
  font-size: 18px;
  font-weight: 700;
  color: #2D3CD9;
  padding: 0 16px 0
}



.best-place .container .right-block .info-box p.copy {
  font-size: 14px;
  line-height: 21px;
  color: #253858;
  padding: 10px 11px 0 16px;
}



.best-place .container .right-block .info-box::before {
  content: '';
  position: absolute;
  left: -2;
  top: 0;
  height: 100%;
  width: 4px;
  background: #2D3CD9
}
.best-place .container .right-block .info-box.insurer {
  margin: 64px 40px 0 0
}
.best-place .container .right-block .info-box.insurer span.top-icon {
  background-position: 0 -34px
}
.best-place .container .right-block .info-box.insurer::before {
  background: #0BBDF2
}
.best-place .container .right-block .info-box.insurer p.head {
  color: #0BBDF2
}

.best-place .container .right-block .info-box.lowest-price {
  margin: 24px 0 0 0
}
.best-place .container .right-block .info-box.lowest-price span.top-icon {
  background-position: 0 -68px
}
.best-place .container .right-block .info-box.lowest-price::before {
  background: #47D990
}
.best-place .container .right-block .info-box.lowest-price p.head {
  color: #47D990
}

.best-place .container .right-block .info-box.claims {
  margin: 46px 0 20px 48px
}
.best-place .container .right-block .info-box.claims span.top-icon {
  background-position: 0 -102px
}
.best-place .container .right-block .info-box.claims::before {
  background: #FFC400
}
.best-place .container .right-block .info-box.claims p.head {
  color: #FFC400
}







.faq-section{
  margin: 0px 135px;
}

.faq-section h1{
  padding-left: 13px;
}

.accordion {
  max-width: 100%;
  margin: 2rem auto;
}

.accordion-item{
  
  transition: all 0.1s ease-in-out;
  overflow: hidden;
  margin-bottom: 20px;
}

.inner-accordion{
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(151,162,169, 0.4);
}
.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  color: black;
  font-size: 1.3em;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

/* .accordion-title:hover {
  background-color: #3ab4cc;
} */

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  color: #808080;
  font-weight: 400;
  
}

.fa-plus-circle, .fa-minus-circle {
  color: grey;

}

.partners-table{
  background-color: #f7f9ff;
}
.partners-container{
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0px 135px;
}

.partners-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom:70px;
}

.partners-header p{
  color: rgba(0,0,0,.36);
}

.partners-title{
  width: 100%;
  display:flex;
  justify-content: center;
}

.partners-grid{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}
.partnerLogo .logo-icon:before {
  content: '';
  min-width: 130px;
  height: 68px;
  text-align: center;
  border-radius: 4px;
  margin: 10px 1%;
  border: solid .6px #dedfdf;
  background-color: #fff;
  width: 11.5%;
  transition: all .1s;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  background-size: 1115px 932px;
  position: relative;
  overflow: hidden;
  border: 0
}


.partnerLogo .logo-icon:before {
  content: "";
  position: absolute;
  width: 120px;
  height: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-size: 1115px 1025px;
  background-color: transparent;
  background-repeat: no-repeat;
}

.partnerLogo .logo-icon {
  min-width: 130px;
  height: 68px;
  text-align: center;
  border-radius: 4px;
  border: solid 0.6px #dedfdf;
  background-color: #fff;
  width: 100%;
  transition: all .1s;
  -webkit-transition: all .1s;
  filter: grayscale(100%);
  opacity: .6;
  background-size: 1115px 932px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.partnerLogo .logo-icon:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  opacity: 1;
}

.partnerLogo a {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 15%;
    flex: 1 0 15%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 130px;
    margin-top: 20px;
    margin-right: 35px;
    background: #fff;
    color: #000;
    display: block;
    position: relative;
}


.logo-icon:before{
  background-image: url('https://static.pbcdn.in/cdn/images/home-v1/logos@1x.png?v=24')
}

.partnerLogo .logo-icon.icicipru:before {
  background-position: -147px 5px;
}

.partnerLogo .logo-icon.agon:before {
  background-position: -7px 5px;
}

.partnerLogo .logo-icon.icicilombard:before {
  background-position: -26px -848px;
}

.partnerLogo .logo-icon.maxlife:before {
  background-position: -296px 7px;
}

.partnerLogo .logo-icon.cigna:before {
  background-position: -426px 6px;
}

.partnerLogo .logo-icon.hdfclife:before {
  background-position: -571px 7px;
}

.partnerLogo .logo-icon.tataaig:before {
  background-position: -850px 5px;
}

.partnerLogo .logo-icon.kotak:before {
  background-position: -989px 5px;
}

.partnerLogo .logo-icon.bajajlife:before {
  background-position: -16px -79px
}
.partnerLogo .logo-icon.bajajgen:before {
  background-position: -146px -80px
}
.partnerLogo .logo-icon.maxhealth:before {
  background-position: -286px -80px
}
.partnerLogo .logo-icon.sbilife:before {
  background-position: -430px -80px
}
.partnerLogo .logo-icon.reliancegen:before {
  background-position: -709px -80px
}
.partnerLogo .logo-icon.reliancelife:before {
  background-position: -567px -80px
}
.partnerLogo .logo-icon.tataaia:before {
  background-position: -851px -80px
}
.partnerLogo .logo-icon.pnbmetlife:before {
  background-position: -994px -80px
}
.partnerLogo .logo-icon.birlasunlife:before {
  background-position: -5px -170px
}
.partnerLogo .logo-icon.canerahsbc:before {
  background-position: -144px -170px
}
.partnerLogo .logo-icon.apollo:before {
  background-position: -288px -170px
}
.partnerLogo .logo-icon.aviva:before {
  background-position: -427px -170px
}
.partnerLogo .logo-icon.digit:before {
  background-position: -570px -163px
}
.partnerLogo .logo-icon.religare:before {
  background-position: -700px -171px
}
.partnerLogo .logo-icon.star:before {
  background-position: -847px -170px
}
.partnerLogo .logo-icon.idbifedrel:before {
  background-position: -992px -170px
}
.partnerLogo .logo-icon.exidelife:before {
  background-position: -8px -259px
}
.partnerLogo .logo-icon.dhfl:before {
  background-position: -145px -257px
}
.partnerLogo .logo-icon.dhflgen:before {
  background-position: -161px -848px
}
.partnerLogo .logo-icon.magmahdi:before {
  background-position: -294px -846px
}
.partnerLogo .logo-icon.rahejaqbe:before {
  background-position: -570px -846px
}
.partnerLogo .logo-icon.edelwisegen:before {
  background-position: -695px -846px
}
.partnerLogo .logo-icon.sbigen:before {
  background-position: -431px -848px
}
.partnerLogo .logo-icon.liberty:before {
  background-position: -285px -257px
}
.partnerLogo .logo-icon.iffcotokio:before {
  background-position: -426px -255px
}
.partnerLogo .logo-icon.bhartiaxa:before {
  background-position: -569px -255px
}
.partnerLogo .logo-icon.bhartiaxaredifining:before {
  background-position: -688px -255px
}
.partnerLogo .logo-icon.futuregenerali:before {
  background-position: -850px -255px
}
.partnerLogo .logo-icon.royalsundaram:before {
  background-position: -993px -255px
}
.partnerLogo .logo-icon.orientalinsurance:before {
  background-position: -5px -345px
}
.partnerLogo .logo-icon.unitedindiainsurance:before {
  background-position: -142px -345px
}
.partnerLogo .logo-icon.newindiainsurance:before {
  background-position: -284px -345px
}
.partnerLogo .logo-icon.shriram:before {
  background-position: -426px -345px
}
.partnerLogo .logo-icon.shriramlifeinsurance:before {
  background-position: -564px -345px
}
.partnerLogo .logo-icon.edelwise:before {
  background-position: -707px -343px
}
.partnerLogo .logo-icon.national:before {
  background-position: -849px -343px
}
.partnerLogo .logo-icon.universalsomplo:before {
  background-position: -990px -343px
}
.partnerLogo .logo-icon.indiafirst:before {
  background-position: -838px -846px
}
.partnerLogo .logo-icon.kotakgeneral:before {
  background-position: -21px -834px;
  background-size: 945px 935px
}
.partnerLogo .logo-icon.adityabirla:before {
  background-position: -268px -913px
}
.partnerLogo .logo-icon.cholams:before {
  background-position: -298px -613px;
  background-size: 700px 700px
}




@media only screen and (max-width: 1500px) { /*desktop breakpoint*/
  
  .container{
    padding: 0rem 1rem;
  }

  .big-title h1{
    font-weight: 800;
    font-size: 2.6rem;
  }

  .right img {

    width: 100%;
    height: 93%;
  }

  .container{
    margin-bottom: 25px;
  }

  .ui.button.hero-button {
    border-radius: 23px;
  }

  .description-container{
    padding-top: 42px;
  }
  .description-container p{
    font-size: 1.6rem;
  }

  .left{ 
    padding-left: 0px;
    margin-right: 20px;
 
  }
  
  .col-container{
    margin: 0px;
    margin-top: 30px;
    padding-bottom: 50px;
    padding-left: 10px;
    word-wrap: break-word;
  }

  .col-item {
    margin-right: 10px;
  }

  div.ui.card.card-item {
    width: 100%
  }


  div.col-item p{
    font-size: 17px;
  }

  .col-item h2{
    font-size: 20px
  }

  /* .card-button-group .ui.button{
    font-size: 20px;
  } */
  .card-button-group .ui.button{
    width: 100%;
    margin-bottom: 3px;
  }

  .card-button-group .ui.button:last-child{
    margin-top: 0px;
  }  
}

/* @media only screen and (max-width: 600px) {
  
  .container {
    min-width: 100vh; 
  }
  
  .right img{
    padding-left: 20px;
    width: 80%;
    height: 70%
  }

  
} */

@media only screen and (max-width: 700px){ /*mobile screens*/
  
  .big-title h1{
    font-size: 6.6rem;
  }

  .big-title p {
    font-size: 3rem;
  }

  h3{
    font-size: 3.3rem !important;
  }
/* 
  .container{
    padding: 0px;
  } */

  .left {
    padding: 0px;
    margin-right: 0px;
  }
  
  ul {
    margin-bottom: 45px;
  }
  
  ul p{
    font-size: 2.3rem;
  }

 
  .ui.button {
    font-size: 1.4rem !important;
    font-weight: 800 !important;
  }
  .ui.button{
    font-size: 1.4rem;
    font-weight: 800;
  }

  .ui.button.hero-button{
    width: 96vh;
    height: 9rem;
    font-size: 3rem !important;
  }

  li{
    margin-bottom: 18px;
  }

  li p{
    font-size:3.5rem;
  }


  ul li:before {
    margin-left: -15px;
    margin-top: 22px;
    font-size: 3.2rem;
  }

  .big-title p{
    font-size:  2.65rem;
  }

  .col-container{
    display: flex;
    min-width: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px 83px;
  }

  .col-item{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    min-width: 100vh;
    justify-content: center;
    align-items: center;
  }

  
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    padding: 0rem 2rem;
    
  }

  /* .hero-button-container{
    min-width: 100vh;
    margin: 0 auto;
  } */
/* 
  .left{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  } */

  .right {
    display: none;
  }

  /* .right img{
    width: 275px;
    height: 525px;
    margin-top: 178px;
  } */

  .ui.button.hero-button{
    width: 94vh;
  }

  .description-container {
    width: 100vh;
    padding-bottom: 48px;
    padding-left: 85px;
    padding-right: 120px;
  }

  .description-content {
    margin: 0 auto;
    max-width: 95%;
  }

  .description-content h1{
    font-size: 4.3rem;
  }

  .description-content p{
    font-size: 3rem;
  }
  
  h3{
    font-size: 2.7rem;
  }
/* 
  .ui.card.card-item{
    justify-content: center;
    align-items: center;
  } */

  .col-item {
    margin-right: 0px;
  }

  div.ui.card.card-item{
    width: 100vh;
    margin-right: 0px;
  }

  

  .ui.card>.image>img, .ui.cards>.card>.image>img{
    width: 145px !important;
    margin-bottom: 12px;
  }

  /* .ui.card, .ui.cards>.card{
  flex-direction: row !important;
  } */
  
  .services-done{
    
    /* padding: 0% 32%; */
    text-align:center;
    margin: 60px 0px;
  }

  .services-done h2{
    font-size: 3.1rem;
  }

  .ui.card>.content>.header:not(.ui){
    font-size: 3rem !important;
  }
 
  div.description {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1em;
    color: #97A2A9 !important;
}

  /* .ui.card>.content, .ui.cards>.card>.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  } */

  .button.ui.primary.button{
    margin: 5px;
    height: 90px;
    font-size: 2.7rem !important;
  }

  div.col-item p{
    font-size: 3.3rem;
  }

  .feedback-wrapper>.stats{
    display: none
  }

  .feedback-wrapper {
    margin: 0px;
    min-width: 100vh;
    text-align: justify;
    margin-top: 50px;
    margin-bottom: 70px;
  }

  .ui.card img.avatar{
    width: 7em !important;
    height: 7em !important;
  }

  .customer-details{
    padding: 13px 20px;
  }

  span.designation{
    font-size: 2.2rem;
    font-weight:lighter;
    line-height: 2.7rem;
  }
  
  .customer-details b{
    font-size: 2.6rem;
    font-weight: 700;
  }

  .faq-section {
    margin: 0px;
    min-width: 100vh; 
  }

  .faq-section h1{
    font-size: 4rem;  
  }

  .accordion{
    margin: 6rem auto;
  }
  
  .accordion-item{
    font-size: 1.5rem;
  }

  .accordion-title{
    font-size: 2.35rem;
  }

  .accordion-content{
    font-size: 2.2rem;
    line-height: 3rem;
  }

  /* .fa-plus-circle, .fa-minus-circle {
    font-size: 4rem;
  } */
  
  
  .partners-table{
    padding-top: 90px;
    min-width: 100vh;
  }

  .partners-grid {
    margin: 0px 50px;
  }

  .partners-title{
    margin-bottom: 10px;
  }

  .partners-title h2{
    font-size: 2.5rem;
  }

  .partners-header p{
    font-size: 2.5rem;
  }

  .partners-container{
    margin: 0px;
  }

  .partners-grid{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 auto;
    gap: 30px 80px;
    padding: 0px 20px;
  }


  .partnerLogo{
    margin: 0 -5px -20px 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }



  

  


  
  

/* 
  .accordion-item-heading {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  
}






